<% shipment.manifest.each do |item| %>
  <tr class="stock-item" data-item-quantity="<%= item.quantity %>">
    <td class="item-image image text-center">
      <%= link_to small_image(item.variant), edit_admin_product_path(item.variant.product) %>
    </td>

    <td class="item-name">
      <%= link_to item.variant.product.name, edit_admin_product_path(item.variant.product) %>
      <br />
      <%= "(#{item.variant.options_text})" if item.variant.options_text.present? %>
      <% if item.variant.sku.present? %>
        <strong><%= Spree.t(:sku) %>:</strong> <%= item.variant.sku %>
      <% end %>
    </td>

    <td class="item-qty-show text-center">
      <% item.states.each do |state,count| %>
        <%= count %> x <%= Spree.t(state).downcase %>
      <% end %>
    </td>

    <% unless shipment.shipped? %>
      <td class="item-qty-edit is-hidden">
        <%= number_field_tag :quantity, item.quantity, min: 0, class: "line_item_quantity form-control", size: 5 %>
      </td>
    <% end %>

  </tr>
<% end %>
